xcuserdata/
*.xcuserstate
*.xcworkspace
DaltonLens.xcodeproj/xcuserdata/
python/.ipynb_checkpoints
DaltonTests/mess
extra
build
imgui.ini
xcshareddata
deps/prebuilt/glfw/share

# Not using them to reduce build times for now.
# deps/prebuilt/Linux
deps/prebuilt/Windows
build-msvc
WindowsStore/AppPackages
WindowsStore/bin
WindowsStore/BundleArtifacts
WindowsStore/obj
